/* App.css */
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
.tab-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;  
    max-width: 500px; 
    height: auto;
    border-color: rgb(19, 19, 223);
    border-radius: 3rem;
    border-style: none;
    box-shadow: 0px 0px 20px #1313DF;
    margin: 10px auto;
    padding: 40px 30px 30px 30px;
    justify-self: center;
    box-sizing: border-box; 
}
.main-buttons {
  width: 150px;
  height: 60px;
  padding-block: 10px;
  margin-top: 20px;
  align-self: center;
  background-color: #C5C5CE;
  border-radius: 1rem;
}
@media (max-width: 768px) {
  .tab-container {
      width: 90%; 
      max-width: 100%; 
      height: auto;
  }

  .table {
      width: 90%; 
  }
}

@media (max-width: 480px) {
  .tab-container {
      width: 97%; 
  }

  .table {
      width: 95%;
  }
}
