body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

#root {
  height: 100%;
  width: 100%;
}

.tab-container {
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.tab-container h2 {
  margin: 0;
}

.stu-dashboard {
  width: 100%;
}

.stu-dashboard-nav {
  background-color: rgb(105, 155, 247);
  color: #000000;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 50px);
  padding: 20px;
}

h2, p {
  text-align: center;
  color: #000000;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
