#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

body.signup-background { 
    background: linear-gradient(135deg, #D3CCE3, #E9E4F0);
}
  
.login-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 640px;
    border-color: rgb(19, 19, 223);
    border-radius: 3rcap;
    border-style: none;
    box-shadow: 0px 0px 20px #1313DF;
    margin: 10px auto;
    padding-bottom: 30px;
    justify-self: center;
}
  
#login-title {
    padding-top: 40px;
}
  
.login-input {
    font-size: medium;
    border-radius: 2rem;
    border-style: none;
    padding-left: 20px;
    padding-block: 12px;
    margin-block: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 0px 7px #929193;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-input:focus {
    border-color: #5e3a89;
    box-shadow: 0 0 0 3px rgba(94, 58, 137, 0.5); 
}
  
#login-input1 {
    width: 90% !important;
    max-width: 100% !important;
}
  
.password {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.eye-button {
    background-color: #AFAFAF;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 2px;
    height: 40px;
    width: 40px;
}
  
.eye-button:hover {
    background-color: deepskyblue;
    transition: 0.4s;
}
  
#eye-icon {
    margin-inline: 2px;
}
  
.login-button {
    width: 50%;
    padding-block: 10px;
    margin-top: 20px;
    align-self: center;
    background-color: #C5C5CE;
    border-radius: 1rem;
}
  
.login-button:hover {
    background-color: #477FD7;
    transition: 0.7s;
}
  
.eye-button:focus, .login-button:focus {
    outline: none;
}
  
.login-button:focus {
    background-color: #2650EA;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        height: auto;
    }

    .login-input, #login-input1, .login-button {
        width: 90%;
        max-width: 100%;
        margin-inline: 10px;
    }

    #login-input1 {
        max-width: 95%;
        margin-right: 20px;
        overflow: hidden;
    }

    .password {
        margin-inline: 5px
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 97%;
    }

    .login-input, #login-input1, .login-button {
        max-width: 95%;
        width: 95%;
    }

    #login-input1 {
        overflow: hidden;
    }

    .password {
        margin-inline: 5px
    }
}
