.add-stu-container {
  background-color: #ffffff !important;
  padding: 30px 40px;
  border-radius: 3rem;
}

.add-stu-form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  width: 100%;
}

.add-stu-input {
  background-color: #ffffff !important;
  color: black !important;
  flex: 1;
  border-radius: 2rem;
  border-style: none;
  padding-left: 10px;
  padding-block: 12px;
  margin-block: 10px;
  box-shadow: 0px 0px 7px #929193;
}

.add-stu-input:focus {
  box-shadow: 0px 0px 12px #712cb7;
  transition: 0.5s;
}

.add-stu-input:-webkit-autofill,
.add-stu-input:-webkit-autofill:hover,
.add-stu-input:-webkit-autofill:focus,
.add-stu-input:-webkit-autofill:active { 
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0px 0px 7px #929193 !important;
}

.add-stu-teacher-button {
  margin-inline: 20px;
  border-radius: 0.9rem;
}

.add-stu-teacher-buttons {
  justify-self: center;
}